p {
    font-size: 50px;
}

header {
    justify-content: center;
    background-color: navy;
    color: aliceblue;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: x-large; 

}

label {
    font-weight: bold;
    font-size: 21px;
    padding-left: 4.5%;
    padding-bottom: 3%;
}

body {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
}

.searchInput {
    border-style: solid;
    border-color: rgb(194, 189, 189);
    border-top: none;
    border-left: none;
    border-right: none;
}

.currentWxBox {
    border-style: solid;
    border-color: rgb(194, 189, 189);
    margin-bottom: 2%;

}

.forecastBox {
    background-color: navy;
    color: aliceblue;
    margin-left: 2.5%;


}