p {
    font-size: 50px;
}

header {
    justify-content: center;
    background-color: navy;
    color: aliceblue;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: x-large; 

}

label {
    font-weight: bold;
    font-size: 21px;
    padding-left: 4.5%;
    padding-bottom: 3%;
}

body {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
}

.currentWx {
    width: 130px;
}

.searchInput {
    border-style: solid;
    border-color: rgb(18, 7, 189);
    border-top: none;
    border-left: none;
    border-right: none;
    
}

.currentWxBox {
    border-style: solid;
    border-color: rgb(46, 23, 177);
    margin-bottom: 2%;
    font-size: 1%;
    height: 70%;

}

.forecastBox {
    background-color: navy;
    color: aliceblue;
    margin-left: 2.5%;
    font-size: 14px;


}

.currentWxBox {
    font-size: 12
}

.backgroundColor {
    background-color: rgb(233, 227, 227);
}